{% extends 'base.html.twig' %}

{% block title %}Edit Bien{% endblock %}

{% block body %}
    <h1>Edit Bien</h1>

    {{ include('bien/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('bien/_delete_form.html.twig') }}
    <a class="btn" href="{{ path('bien_index') }}">Retour à la liste de vos biens</a>

</div>
{% endblock %}
