{% extends 'base.html.twig' %}

{% block title %}New Bien{% endblock %}

{% block body %}
    <h1 class="mt-5">Ajouter un Bien</h1>

    {{ include('bien/_form.html.twig') }}

    <a class="btn" href="{{ path('bien_index') }}">Retour à la liste de vos biens</a>
{% endblock %}
