{% extends "base.html.twig" %}

{% block body %}
	<h1 class="mt-5">Erreur 404 : Fichier non trouvé !</h1>
	<p>Si vous voyez cette page, c'est que votre demande n'a pas abouti !</p>
	<p>Veuillez vérifier que vous avez entrer le bon lien sinon vous pouvez retourner à <a href="{{ path('home') }}">l'accueil</a> !</p>
{% endblock %}