{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-danger mt-5">ERREUR 403 : ACCÈS REFUSÉ !</h1>
	<p>Si vous voyez cette page c'est que vous ne devriez pas être là !</p>
	<p>Veuillez retourner à <a href="{{ path('home') }}">l'accueil</a> !</p>
{% endblock %}